---
import Container from "../ui/Container.astro";
import Button from "../ui/Button.astro";
---

<header class="navbar">
  <Container>
    <nav class="navbar__content">

      <a href="/" class="navbar__logo">
        ANANDU
      </a>

      <ul class="navbar__links">
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

      <Button href="#contact">
        Hire Me
      </Button>

      <button
        class="navbar__menu"
        aria-label="Open Menu"
      >
        ☰
      </button>

    </nav>
  </Container>
</header>