---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/home/Hero.astro";
import ProjectsSection from "../components/home/ProjectsSection.astro";
import AboutSection from "../components/home/AboutSection.astro";
---

<BaseLayout title="Anandu | Software Developer">
  <main>
    <Hero />
    <ProjectsSection />
	<AboutSection/>
  </main>
</BaseLayout>